.header {
  padding-top: 20px;
}
.example-card {
  max-width: 400px;
  margin-top: 15px;
}

.example-header-image {
  background-image: url("src/assets/ovo-energy.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
  color: darkslateblue;
}

a:hover {
  opacity: 0.8;
}
