<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onClose()">
        <mat-icon> account_box </mat-icon>
        <span class="nav-caption"> ACCOUNT</span>
    </a>
    <a mat-list-item routerLink="/" (click)="onClose()">
        <mat-icon> flash_on </mat-icon>
        <span class="nav-caption"> PLANS </span>
    </a>
    <a mat-list-item routerLink="/promotions" (click)="onClose()">
        <mat-icon> grade </mat-icon>
        <span class="nav-caption"> PROMOTIONS</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onClose()">
        <mat-icon> description </mat-icon>
        <span class="nav-caption"> BILLS</span>
    </a>
    <a mat-list-item routerLink="/cart" (click)="onClose()">
        <mat-icon> shopping_bag</mat-icon>
        <span class="nav-caption"> CART</span>
    </a>
    <mat-list-item>
        <button mat-icon-button color='accent'>
            <mat-icon>exit_to_app</mat-icon>
            <span class="nav-caption"> LOG OUT </span>
        </button>
    </mat-list-item>
</mat-nav-list>