registry=https://pkgs.dev.azure.com/redOpalInternal/aa9f185d-516d-4069-9c39-10f9fe22ab2d/_packaging/redOpal_Feed/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/redOpalInternal/aa9f185d-516d-4069-9c39-10f9fe22ab2d/_packaging/redOpal_Feed/npm/registry/:username=redOpalInternal
//pkgs.dev.azure.com/redOpalInternal/aa9f185d-516d-4069-9c39-10f9fe22ab2d/_packaging/redOpal_Feed/npm/registry/:_password=[d3lkZ3NpcmZ2dWdiN25uZXl6YTVndG5vbDdqbDZwZWFlY2hiaDJ0azdmNHdrbm5oaXFqcQ==]
//pkgs.dev.azure.com/redOpalInternal/aa9f185d-516d-4069-9c39-10f9fe22ab2d/_packaging/redOpal_Feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/redOpalInternal/aa9f185d-516d-4069-9c39-10f9fe22ab2d/_packaging/redOpal_Feed/npm/:username=redOpalInternal
//pkgs.dev.azure.com/redOpalInternal/aa9f185d-516d-4069-9c39-10f9fe22ab2d/_packaging/redOpal_Feed/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/redOpalInternal/aa9f185d-516d-4069-9c39-10f9fe22ab2d/_packaging/redOpal_Feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token


