<div fxLayout="column" fxLayoutAlign="center center">

  <section *ngFor="let item of items">
    <mat-card>
      <mat-card-content>
        <span class="mat-h1">{{ item.name }} </span>
        <mat-chip-list fxFlex fxLayout fxLayoutAlign="flex-end">
          <mat-chip color="accent" selected>
            <b> Annual Cost :</b>
            {{ item.annual_cost | currency: "GBP":"symbol" }}
          </mat-chip>
          <mat-chip color="accent" selected>
            <b> Monthly Cost :</b> {{item.monthly_direct_debit | currency: "GBP":"symbol" }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </section>

  <section>
    <form #paymentForm>
      <div id="paymentSection"></div>

      <mat-chip-list aria-label="total" fxLayoutAlign="center center" fxLayoutGap="50px">
        <mat-chip color="accent" selected *ngIf="items">
          <b> Total to Pay :</b> {{ total | currency: "GBP":"symbol" }}
        </mat-chip>
      </mat-chip-list>
      
      <section fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="submit" onclick="Worldpay.submitTemplateForm()"
          class="payment_button">
          <mat-icon>account_balance_wallet</mat-icon>
          PAY
        </button>
      </section>
    </form>

    <mat-chip *ngIf="token"> Token from WorldPay: {{ token }}</mat-chip>
    <mat-chip *ngIf="token"> Reusable: {{ reusable }}</mat-chip>
  </section>

  <mat-list role="list" class="test_account">
    <h3>Test Account - Payment Details</h3>
    <mat-list-item role="listitem">John Wick</mat-list-item>
    <mat-list-item role="listitem"> 5555555555554444, </mat-list-item>
    <mat-list-item role="listitem"> 4444333322221111, </mat-list-item>
    <mat-list-item role="listitem"> 5454545454545454</mat-list-item>
    <mat-list-item role="listitem"> 03 / 2030</mat-list-item>
    <mat-list-item role="listitem"> 123 </mat-list-item>
  </mat-list>

</div>
  <!-- <section>
    <form id="paymentForm" [formGroup]="paymentForm" (ngSubmit)='onSubmit()' action="/complete"  method="post">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Customer Name</mat-label>
          <input matInput placeholder="John Wick"  data-worldpay="name" type="text" formControlName='name' >
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint>Name on Card</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" hintLabel="Max 16 characters">
          <mat-label>Card Number</mat-label>
          <input matInput  #input maxlength="16" placeholder="1111 2222 3333 4444"  data-worldpay="number" type="text"  formControlName='cardNumber' >
          <mat-icon matSuffix>money</mat-icon>
          <mat-hint align="end">{{input.value?.length || 0}}/16</mat-hint>
        </mat-form-field>
      </p>

      <div class="example-container">
        <mat-form-field hintLabel="Max 2 characters" appearance="fill">
          <mat-label>Expiration Month</mat-label>
          <input matInput #month maxlength="2" placeholder="03" data-worldpay="exp-month"  type="text" formControlName='expirationMonth'>
          <mat-hint align="end">{{month.value?.length || 0}}/2</mat-hint>
        </mat-form-field>

        <mat-form-field hintLabel="Max 4 characters" appearance="fill">
          <mat-label>Expiration Year</mat-label>
          <input matInput #year maxlength="4" placeholder="2030" data-worldpay="exp-year"  type="text" formControlName='expirationYear'>
          <mat-hint align="end">{{year.value?.length || 0}}/4</mat-hint>
        </mat-form-field>
      </div>
      <p>
        <mat-form-field appearance="fill" hintLabel="Max 3 characters">
          <mat-label>CVC</mat-label>
          <input matInput  #card maxlength="3" placeholder="123"  data-worldpay="cvc"  type="text"  formControlName='cvc' >
          <mat-icon matSuffix>payment</mat-icon>
          <mat-hint align="end">{{card.value?.length || 0}}/3</mat-hint>
        </mat-form-field>
      </p>
          
      <button type="submit" mat-raised-button color='primary'>PAY</button>
  </form>
  </section>

  <h2 *ngIf="token">Token from WorldPay {{ token }}</h2>

  <p>
    John Wick
    5555555555554444
    03/2030
    123
  </p> -->




  