<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSideNav()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
    </div>

   
    <div>
            <img width="90"  alt="SSE Logo"
            src="./assets/Ovo_Energy_logo.svg.png"
            routerLink="/" class='logo' />
    </div>


    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="nav-links">
            <li class="links">
                <a routerLink="/"> Plans </a>
            </li>
            <li class="links">
                <a routerLink="/"> Promotions </a>
            </li>
            <li class="links">
                <a routerLink="/"> Bills </a>
            </li>
            <li>
                <button mat-icon-button routerLink="/cart">
                    <mat-icon aria-hidden="true" aria-label="Example shopping_bag icon">shopping_bag</mat-icon>
                </button>
            </li>
            <li>
                <button class="account_button" mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <mat-icon class="account_icon" aria-hidden="true" aria-label="Example account icon">account_box
                    </mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item color='primary'>
                        <mat-icon>exit_to_app</mat-icon>
                        <span>LOG OUT</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>announcement</mat-icon>
                        <span>NOTE</span>
                    </button>
                </mat-menu>
            </li>
        </ul>
    </div>
</mat-toolbar>